################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BERT/definition_extractor/*.log
/BERT/definition_extractor/*.csv
/BERT/definition_extractor/.vs

